
<%= simple_form_for(@product) do |f| %>
  <% @product.deliveryDate = @product.deliveryDate || Date.today %>
  
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :number %>
    <%= f.input :deliveryDate, html5: true %>
    <%= f.input :onSite %>
    <%= f.input :stat, as: :radio_buttons, collection: Product::STATS, checked: @product.stat || Product::STATS.first %>
    <%= f.association :client, collection: @clients,
        :label_method => :full_name,
        :value_method => :id,
        :label => "Utilisateur"
      %>
  </div>

  <div class="form-actions btn btn-primary btn-sm mr-2">
    <%= f.button :submit %>
  </div>
<% end %>
